/* Footer.css */

.footer {
     /* background-color: lightgray; */
    /* color: #000000;  */
    padding: 15px 30px; 
    /* border: 1px solid   red; */
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #333333;
    opacity: 0.7;
background: #FFF;
/* height: 180px; */
  }
  
  .logo {
    max-width: 100%;
    height: auto;
  }
  
  .navigation {
    list-style: none;
    padding: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  
  .navigation li {
    margin: 0 15px;
  }
  
  .navigation a {
    text-decoration: none;
    color: gray;
  }
  
  .social-icons {
    display: flex;
    justify-content: flex-end;
    

  }
  
  .social-icons a {
    color: gray;
    padding: 1px 9px;
    font-size: 24px;
    text-decoration: none;
    align-items: center;
    /* border: 1px solid #007bff; */
  }
  
  .social-icons a:hover {
    color: #007bff; /* Change color on hover (you can customize this) */
  }

  .center{
align-items: center;
padding-top: 5px;

  }
  .copy{
    /* color: #333333;
     */
     margin-top: 13px;
     color: gray;
     font-size: 14px;
     margin-bottom: 0;
    
      }
  
 
  